*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container-fluid{
    height: 100vh;
    border: 1px solid black;
    display: flex;
    
}


.side-bar{
  height: 100vh;  
  width: 20%;
  border: 1px solid black;
  background-color: black;
}

.side-bar>img{
   margin: 1opx;
   padding: 10px;
}

.home-search{
    height: 200px;
    width: 100%;
    border: 1px solid rgb(28, 27, 27);
    position: relative;
    background-color: rgb(30, 27, 27);
    border-radius: 20px;
}

.bxs-home{
    color: rgb(128, 126, 126);
    font-size: 30px;
    position: absolute;
    top: 90px;
    left: 30px;
}

.bxs-home:hover{
    color: white;
    cursor: pointer;
    transition: 1s;
}

#home-sec{
    color: rgb(156, 154, 154);
    position: absolute;
    top: 10px;
    left: 40px;
    font-size: 18px;
    font-weight:400;
}
#home-sec:hover{
    color: white;
    cursor: pointer;
    transition: 1s;
}

#search-sec{
    color: rgb(156, 154, 154);
    position: absolute;
    top: 6px;
    left: 40px ;
    font-size: 18px;
    font-weight:400;
}

#search-sec:hover{
    color: white;
    cursor: pointer;
    transition: 1s;
}
    
.bx-search-alt-2{
    color:  rgb(156, 154, 154);
    font-size: 30px;
    position: absolute;
    top: 145px;
    left: 30px;
}
.bx-search-alt-2:hover{
    color: white;
    cursor: pointer;
    transition: 1s;
}


.library{
   height: 250px;
   width: 100%;
   margin-top: 10px;
   position: relative;
   overflow-y: scroll;
   scrollbar-width: none;
   background-color:rgb(30, 27, 27); 
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}

.bx-library{
    color: rgb(119, 115, 115);
    font-size: 28px;
    margin-left: 15px;
    margin-top: 20px;
   
}

#lib{
    position: absolute;
    top: 20px;
    color: rgb(122, 120, 120);
    font-size: 20px;
    left: 70px;
    font-weight: 700;
}

.bx-plus{
    color: rgb(103, 101, 101);
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 22px;
}



.topic-lib{
    background-color: rgb(30, 27, 27); 
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 10;
    
}

.bx-plus:hover{
     color: white;
     cursor: pointer;
}

.playlist{
    height: 150px;
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
    background-color: rgb(34, 32, 32);
}

.playlist>h5{
    color: white;
    font-weight: 700;
}

.playlist>h6{
    color: white;
    font-weight: 600;
    margin-top: 15px;
}

.playlist>button{
    background-color: white;
    padding: 8px;
    width: 150px;
    border-radius: 20px;
    margin-top: 10px;
    font-weight: 700;
}


.podcast{
    height: 200px;
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
    position: relative;
}

.podcast>p{
    color: white;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.podcast>h6{
    color: white;
    margin: 18px;
    font-size: 15px;
    font-weight: 700;

}

.podcast>a>button{
    margin-left: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    font-weight: 700;
}

.links{
    height: 185px;
    width: 100%;
    background-color:rgb(34, 32, 32); ;
}

.links>span>a{
    font-size: 12px;
    color:rgb(176, 171, 171);
    line-height: 30px;
    text-decoration: none;
    
}
.links>p>span>a{
    color:rgb(176, 171, 171); ;
    font-size: 12px;
    line-height: 30px;
    text-decoration: none;
}

a>button{
    height: 40px;
    color: white;
    border-radius: 20px;
    width: 100px;
    background-color: transparent;
    border: 1px solid rgb(126, 124, 124);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}


.links>button:hover{
    border: 1px solid white;
}

.main-container{
    height: 100vh;
    width: 80%;
    border: 1px solid rgb(34, 33, 33);
    background-color: black;
    
}

.navigation{
    height: 60px;
    width: 100%;
    background-color: rgb(34, 32, 32);
}

.arrows{
    display: flex;
    gap: 20px;
    position: relative;

    
}

#arrow1{
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 20px;

}

.arrows>button{
    background-color: rgb(15, 14, 14);
}


#arrow2{
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 80px;
}

.bx-chevron-left{
    color:rgb(113, 108, 108);
    font-size: 38px;
}

.bx-chevron-right{
    color:rgb(113, 108, 108);
    font-size: 38px;
}